
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Interstellar</title>
    <link rel="stylesheet" href="/estilos/stilo404.css">

</head>
<body>
    <div class="container">
        <h1>Error 404 </h1>
        <p>¡Ups! Creo que te has perdido en el espacio-tiempo.</p>
        <p>Parece que la página que buscas no se encuentra en nuestra galaxia.</p>
        <p>Recuerda que en el universo, las cosas pueden ser impredecibles.</p>
        <p>¿Quizás estás buscando respuestas en un agujero de gusano?</p>
        <p>Regresa a <a href="/">nuestra página de inicio</a> para encontrar tu camino de vuelta.</p>
    </div>
</body>
</html>
