<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Alessandro</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/estiloPrincipal.css">
    <link rel="stylesheet" href="css/skills.css">
    <script src="https://cdn.jsdelivr.net/npm/progressbar.js@1.0.1/dist/progressbar.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>

    {{>header}}

    {{>nav}}

    <div class="presentacion">
        <div class="row fondoName">
            <div class="col-md-4">
                <div class="foto-contenedor">
                    <img src="src/imagenes/FCarnetSinFondo.png" alt="Descripción" class="img-fluid">
                </div>
            </div>

            <div class="col-md-8">

                <p class="eSaludo">HOLA</p>
                <h1> MI NOMBRE ES </h1>
                <br>
                <h1 class="tName">ANTONY RALON</h1>

                <div class="btnRegreso">
                    <a class="texto"
                        href="https://www.linkedin.com/in/antony-alessandro-ral%C3%B3n-valenzuela-2b7049245"
                        target="_blank">Analista Desarrollador</a>
                    <div class="arrowContainer">
                        <img src="src/imagenes/in.png" alt="Flecha">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="presentacion2">
        <div class="row">
            <div class="col-md-4">
                <div class="img1Contenedor">
                    <img src="src/imagenes/Fdev.jpg" alt="Descripción" class="img1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="iTitulo">Sobre mí</h1>
                        <p class="textoS">Hola, me llamo Antony Alessandro Ralon Valenzuela,
                            actualemente me encuentro laborando como Analista Desarrolador en SSASA,
                            soy Estudiante de cuarto año en la Univesidad Mairano Galvez de Guatemala,
                            mi edad actual es de 23 años.
                            <br>
                            Con el pasar de los años he ido adquiriendo conocimientos clave en el
                            area de tecnologia con la finalidad de ir creciendo tanto personal como
                            profesionalmente, entre los conocimientos mas relevantes puedo destacar los
                            siguientes:
                        </p>
                    </div>

                    <div class="col-md-8 col-lg-6">
                        <div class="textoS">
                            <ul>

                                <li>Sql</li>
                                <li>C++</li>
                                <li>C#</li>
                                <li>Java</li>
                                <li>Java Script</li>
                                <li>Html</li>
                                <li>Css</li>
                                <li>Bootstrap</li>
                                <li>Dessarrollo .NET</li>
                                <li>Android Studio</li>
                                <li>Node Js</li>
                                <li>Mongo DB</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <div class="botonesLink">
                            <div class="btnLink2">
                                <a class="texto" href="src/documentos/CVAntonyRalón.pdf" target="_blank">Descargar
                                    CV</a>
                            </div>
                            <div class="btnLink">
                                <a class="texto2" href="Contacto">Contactame</a>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>


    <div class="presentacion2">

        <div class="row skills">
            <h1 class="col-xs-12 eTitulo">Skills</h1>

            <div class="col-6 col-sm-3">
                <div id="SQL" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id="C++" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id="C#" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id="JAVA" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id="JAVAS" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id="HTML" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id="CSS" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id="BOOTS" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id=".NET" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id="AS" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id="NODE" class="containerSkill">
                </div>
            </div>
            <div class="col-6 col-sm-3">
                <div id="MONGO" class="containerSkill">
                </div>
            </div>
        </div>
    </div>
    <div class="presentacion4">

        <h1 class="text-center">Proyectos</h1>


        <div class="carrusel ">
            <div class="targeta">
                <img src="src/imagenes/mongo2.png" height="150px" alt="">
                <h2>Rest-Server Mongo</h2>
                <p>Octubre 2023</p>
                <p class="txtTargeta">Proyecto Universitario Aplicaion Rest-Server con Mongo DB
                </p>
                <div class="btnLink">
                    <a class="texto2" href="Proyecto6">Más Informacion</a>
                </div>
            </div>
            <div class="targeta">
                <img src="src/imagenes/siga.png" height="150px" alt="">
                <h2>S I G A</h2>
                <p>Octubre 2023</p>
                <p class="txtTargeta">Proyecto Universitario enfocado en un sistema de gestion academica 
                </p>
                <div class="btnLink">
                    <a class="texto2" href="Proyecto7">Más Informacion</a>
                </div>
            </div>
            <div class="targeta">
                <img src="src/imagenes/AuditoriaSistemas.png" height="130px" alt="">
                <h2>Auditoria DB</h2>
                <p>Junio 2023</p>
                <p class="txtTargeta">Proyecto Universitario enfocado en la auditoria de
                    sistemas en SQL Serves y .Net
                </p>
                <div class="btnLink">
                    <a class="texto2" href="Proyecto2">Más Informacion</a>
                </div>
            </div>
            <div class="targeta">
                <img src="src/imagenes/slgLogo.png" height="150px" alt="">
                <h2>Learn SLG</h2>
                <p>Junio 2022</p>
                <p class="txtTargeta">Proyecto Universitario Applicacion nativa de android
                    con finalidad de aprender Lenguaje de Señas de forma interactiva
                </p>
                <div class="btnLink">
                    <a class="texto2" href="Proyecto4">Más Informacion</a>
                </div>
            </div>
            <div class="targeta">
                <img src="src/imagenes/po.png" height="130px" alt="">
                <h2>PO .NET</h2>
                <p>Junio 2023</p>
                <p class="txtTargeta">Proyecto Universitario de
                    Programacion Orientada a
                    Objetos en .NET y
                    BOOTSTRAP</p>
                <div class="btnLink">
                    <a class="texto2" href="Proyecto1">Más Informacion</a>
                </div>
            </div>

            <div class="targeta">
                <img src="src/imagenes/interprete.png" height="130px" alt="">
                <h2>Interprete</h2>
                <p>Junio 2023</p>

                <p class="txtTargeta">Proyecto Universitario enfocado en el desarrollo de un interptrete
                    elaborado mediante JFlex, JCup en lenguaje JAVA para escritorio.
                </p>
                <div class="btnLink">
                    <a class="texto2" href="Proyecto3">Más Informacion</a>
                </div>
            </div>

            <div class="targeta">
                <img src="src/imagenes/ajedrez.jpg" height="150px" alt="">
                <h2>Ajedrez</h2>
                <p>Octubre 2021</p>
                <p class="txtTargeta">Proyecto Universitario juego de ajerez desarrollado con lenguaje Java como
                    aplicacion nativa de Windows
                </p>
                <div class="btnLink">
                    <a class="texto2" href="Proyecto5">Más Informacion</a>
                </div>
            </div>

        </div>

    </div>



    <div class="presentacion2">
        <div class="row">
            <div class="col-md-6">
                <div class="img2Contenedor">
                    <img class="logo" src="src/imagenes/umg.png" alt="">
                </div>
            </div>


            <div class="col-md-6">
                <h1 class="Titulo">Educación</h1>
                <div class="textoS">
                    <p>Educación superior</p>
                    <p>Ingeniería en Sistemas Universidad Mariano Gálvez de Guatemala
                    </p>
                    <p>Educación adicional:</p>
                    <ul>
                        <li>Introducción a la programación</li>
                        <li>Introducción a las habilidades profesionales en análisis de
                            datos</li>
                        <li>Aprende Análisis de datos</li>
                        <li>SQL Server Ya</li>
                        <li>Desarrollo web con Java Script</li>
                        <li>Asp.Net core MVC</li>
                        <li>Cisco CCNA</li>
                    </ul>
                </div>
            </div>


        </div>
    </div>


    <div class="presentacion2">
        <div class="row">

            <div class="col-md-1">

            </div>
            <div class="col-md-5">
                <h1 class="Titulo">Habilidades Profesionales</h1>
                <div class="textoS">
                    <ul>
                        <li>Diseño tecnológico</li>
                        <li>Análisis y evaluación de sistemas</li>
                        <li>Programación</li>
                        <li>Resiliencia</li>
                        <li>Comunicador Asertivo</li>
                        <li>Creativo</li>
                        <li>Orientado a resultados medibles</li>


                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h1 class="Titulo">Extra</h1>
                <div class="textoS">
                    <p> ¡Estoy emocionado por seguir desafiándome y
                        creciendo como desarrollador web! Si deseas
                        colaborar en futuros proyectos o tienes alguna
                        pregunta, no dudes en ponerte en contacto
                        conmigo</p>
                </div>

            </div>
            <div class="col-md-2">

            </div>

        </div>
    </div>
    <script src="src/js/skills.js"></script>

</body>

{{>footer}}


</html>