<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/estiloProyectos.css">
    <script src="https://cdn.jsdelivr.net/npm/progressbar.js@1.0.1/dist/progressbar.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <title>Rest Server - Mongo</title>
</head>

<body>

    {{>header}}

    {{>nav}}


    <div class="presentacion">




        <div class="row">
            <h2 class="tp">Rest Server - Mongo </h2>

            <div class="col-md-6">
                <div class="textoS">
                    <p>Esta pequeña aplicación Rest-Server surgió como un proyecto universitario con el propósito de
                        aplicar los conocimientos adquiridos durante el curso de desarrollo web. Fue desarrollada
                        utilizando tecnologías de vanguardia, en particular, Node.js como plataforma de servidor y
                        MongoDB como sistema de gestión de bases de datos. La meta de este proyecto era establecer una
                        conexión con una base de datos alojada en la nube y brindar servicios a través de una API REST.




                    </p>
                    <p>
                        La aplicación permite recibir y gestionar datos desde diversas rutas y responde a las
                        solicitudes de los métodos HTTP, incluyendo POST, PUT, DELETE, GET y PATCH. Proporciona
                        información en formato JSON para cada uno de estos métodos, lo que facilita la interacción con
                        la base de datos y el intercambio de datos.
                    </p>
                    <p>


                        En resumen, este proyecto no solo demuestra la aplicación de conceptos fundamentales de
                        desarrollo web, sino que también abre la puerta a la utilización de tecnologías modernas y la
                        conexión con bases de datos en la nube, lo que tiene un gran potencial en el contexto de la
                        informática actual.
                    </p>
                </div>

            </div>

            <div class="col-md-6">
                <div class="container">


                    <div class="carrusel">
                        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
                            data-bs-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="src/imagenes/mongo.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="src/imagenes/mongo2.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="src/imagenes/mongo3.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="src/imagenes/mongo4.png" class="d-block w-100" alt="...">
                                </div>

                            </div>

                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">


            </div>
        </div>
        <div class="btnRegreso">
            <a class="texto" href="/">Regresar</a>
            <div class="arrowContainer">
                <img src="src/imagenes/flecha.png" alt="Flecha">
            </div>
        </div>

    </div>


</body>

{{>footer}}

</html>