body {
    margin: 0;
    padding: 0;
    background-color: rgb(13, 20, 36);
    overflow-y: scroll;
    background-image: url('/images/lago.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
::-webkit-scrollbar {
    display: none; 
}

.presentacion {

    height: 100vh; 
    width: 100%;
    background-image: url('/images/lago.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}
.row{
margin: 0;
padding: 0;
}
.container-fluid{
    margin: 0;
    padding: 0;
}

.presentacion2 {
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100%;
    background: rgba(13, 20, 36,0.9);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
}
.presentacion4 {
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100%;
    background: rgba(13, 20, 36,0.9);
    padding: 10px;
    color: white; 
}


.presentacion3 {
    top: 0;
    left: 0;
    height: 80vh; 
    width: 100%;
    padding: 10px;
    display: flex;
    color: white; 
    overflow-x: scroll;
}


.fondoName{
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100%;
    background: rgba(13, 20, 36, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.progress-bar{
    color: rgb(220, 20, 60);
    background-color:     rgb(220, 20, 60);;
}

.tName {
    font-family: "Poppins",Sans-serif;
    padding-top: 0;
    margin-top: 0;
    font-size: 80px;
    color: white;
}

.eSaludo {
       font-family: "Roboto Mono",Sans-serif;
    color: rgb(220, 20, 60);
    font-size: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.foto-contenedor {
    border: rgb(37, 37, 37) solid;
    background-image: url('/images/cleanCode.jpg'); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 300px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.img1Contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 300px;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top:100px ;

}

.img2Contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 300px;
    height: auto;
    margin: 100px;
    text-align: center;
}


.foto-contenedor img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.btnRegreso {
    margin-top: 1px;
    margin-bottom: 30px;
    padding-left: 20px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}

.arrowContainer {
    background-color: rgb(220, 20, 60);
    border: none; 
    width: 45px;
    height: 45px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.arrowContainer img {
    width: 35px;
    height: 25px;
}

.texto {
    padding: 5px 5px;
    text-decoration: none;
    color: black;
}

.caja {
    background-color: rgba(54, 2, 88, 0.4);
    width: 760px;
    height: 550px;
    position: absolute;
    top: 0px;
    left: 750px;
    right: 0;
}

.img1 {
    width: 300px;
    box-shadow: -20px 20px 1px rgb(220, 20, 60);
    margin-bottom: 10px;
}


.iTitulo {
    font-size: 60px;
    margin: 20px;
}

.textoS {
    background-color: rgba(167, 167, 167, 0.1);
    border: 3px solid rgb(220, 20, 60);
    width: auto;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}


.btnLink {
    min-width: 130px;
    padding-left: 15px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    background-color:rgb(220, 20, 60);
    border: 4px solid black;
}

.btnLink2 {
    margin-left: 30px;
    margin-right: 10px;
    width: 150px;
    padding-left: 15px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgb(220, 20, 60);
}

.botonesLink{
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.botonesLink2{
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.texto2 {
    padding: 5px 5px;
    text-decoration: none;
    color: white;
}

.proyectos {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh; 
    width: 100%;
    background: rgb(16, 61, 165);
    color: white;
}

.carrusel {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px;
    padding-bottom: 50px;
}
.col-md-12{
    overflow-x: scroll;
}

.targeta {
    min-width: 280px;
    scroll-snap-align: start;
    border: 1px solid rgb(220, 20, 60);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(167, 167, 167, 0.1);

    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.targeta img {
    width: 100%; 
    object-fit: cover; 
    border-radius: 10px; 
}

.targeta h2 {
    margin: 0;
}

.educacion h1 {
    text-align: center;

}




.tGracias {
    text-align: center;
    font-size: 60px;
    color: white;
}

.btnsFinal {
    align-content: center;
    padding-left: 550px;
}

.ctmFooter {
    padding: 15px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    background: rgba(13, 20, 36, 0.8);

}

.imgFooter {
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
}
.bgFooter{
    background-image: url('/images/lago.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;

}
.eTitulo {
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    height: 100%; /* Asegura que el título ocupe toda la altura del contenedor si es necesario */
    margin: 0; /* Elimina cualquier margen por defecto */
}
.Titulo{
    margin-left: 30px;
}
.skills{
    padding: 70px;
}
.containerSkill {
    margin: 20px;
    width: 200px;
    height: 130px;
    position: relative;
  }

  @media (max-width: 1000px) {
    .presentacion {
        padding-top: 60px;
        height: auto; 
    }
    .tName {
        font-size: 60px;
    }
    
    .eSaludo {
        font-size: 30px;
    }
    .presentacion2 {
        padding-top: 60px;

        height: auto;
    }
    .img1Contenedor{
        margin-top: auto;
    }
    .img2Contenedor {
        margin: auto;

    }
    .skills{
        padding: 0;
        padding-left: 20px;
    }
    .containerSkill {
        margin: 10px;
        padding: 5;
        width: 130px;
        height: 100px;

    }
    .ctmFooter {
        padding: 0;
        padding-left: 20px;

    
    }
}

