
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-image: url('/images/setupm.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
::-webkit-scrollbar {
    display: none; 
}

.tp {
    font-family: "Poppins",Sans-serif;
    padding-top: 0;
    margin-top: 0;
    margin-left: 20px;
    font-size: 40px;
    color: white;
}

.presentacion {
    align-items: center;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    background: rgba(13, 20, 36,0.6);
    padding-top: 70px;
    color: white; 
    
}
.presentacion2 {
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100%;
    background: rgba(13, 20, 36,0.6);
    padding: 10px;
    color: white; 
}


.btnRegreso {
    margin-top: 1px;
    margin-bottom: 30px;
    margin-left: 20PX;
    padding-left: 20px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}
.arrowContainer {
    background-color: rgb(220, 20, 60);
    border: none; 
    width: 45px;
    height: 45px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.arrowContainer img {
    width: 35px;
    height: 25px;
}

.texto {
    padding: 5px 5px;
    text-decoration: none;
    color: black;
}
.texto2 {
    padding: 5px 5px;
    text-decoration: none;
    color: white;
}

.btnLink {

    min-width: 130px;
    padding-left: 15px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    background-color:rgb(220, 20, 60);
    border: 4px solid black;
}


.textoS {
    background-color:  rgba(13, 20, 36,0.6);
    border: 3px solid rgb(220, 20, 60);
    width: auto;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.Imagenes {
    width: auto;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
label{
    color: white;
    font-size: x-large;
    
}  
.img1 {
    width: 400px;
    box-shadow: -15px 15px 1px rgba(13, 20, 36,0.6);
    margin-bottom: 10px;
}

.img2 {
    width: 400px;
    box-shadow: -30px 30px 40px 1px rgba(13, 20, 36, 0.8);
    margin-bottom: 10px;
}


.ctmFooter {
    padding: 15px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    background: rgba(13, 20, 36, 0.8);

}

.imgFooter {
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
}
.bgFooter{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;

}

.carrusel {
    max-width: 800px;
    gap: 20px;
    padding: 20px;
    padding-bottom: 50px;
}
.carrusel2 {
    max-width: 300px;
    max-height: 350px;
    padding-left: 30px;
    padding-bottom: 50px;
}


.carrusel3 {
    max-width: 500px;
    gap: 20px;
    padding: 20px;
    padding-bottom: 50px;
}
.iframe-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*

body {
    font-family: "Comic Sans MS", cursive;
    background-image: url(/src/imagenes/fDark.jpg);
}
p{
    color: white;
    font-size: large;
}
label{
    color: white;
    font-size: x-large;
    
}
.portafolio {
    padding-left: 100px;
    padding-top: 0px;
    color: white;
    

}
.btnLink{
    width: 180px;
    padding-left: 15px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    background-color: #7C00CF;
    border: 0.1px solid white;

}
.texto1 {
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}
.tp {
    font-family: "Poppins",Sans-serif;
    padding-top: 0;
    margin-top: 0;
    font-size: 40px;
    color: white;
}

.parrafoP {
    color: white;
    background-color: rgba(124, 0, 207, 0.5);
    border: solid 5px #7C00CF;
    
}
.parrafoD{
    padding-left: 100px;
    width: 500px;
    margin-right: 100px;
}

.btnRegreso {
    margin-left: 150px;
    margin-top: 100px;
    padding-left: 20px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}
.contenedor{
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(38, 0, 63, 0.9);
    border: solid 2px #7C00CF;
    width: 500px;
    padding: 10px;
}
.arrowContainer {
    background-color: #7C00CF;
    border: 2px;
    width: 35px;
    height: 45px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowContainer img {
    width: 25px;
    height: 20px;

}

.texto {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}
.img1{
    box-shadow: -30px 30px 1px #7C00CF;
    margin-bottom: 40px;

}
.img2{
    box-shadow: 30px 30px 1px #7C00CF;
    margin-left: 80px;

}
.videoSlg{
    color: white;
margin-left: 90px;
box-shadow: -30px 30px 1px #7C00CF;

}
.texto {
    padding: 5px 5px;
    text-decoration: none;
    color: black;
}
.texto2 {
    padding: 5px 5px;
    text-decoration: none;
    color: white;
}

    .tGracias{
        text-align: center;
        font-size: 60px;
        color: white;
    
    }

    .btnLink{

        width: 140px;
        padding-left: 15px;
        display: inline-flex;
        align-items: center;
        border-radius: 5px;
        background-color: #A904BF;
        border: 4px solid black;
    
    }
    .btnLink2{
        margin-right: 10px;
        width: 140px;
        padding-left: 15px;
        display: inline-flex;
        align-items: center;
        border-radius: 5px;
        background-color: white;
        border: 4px solid black;
    
    }
    .btnsFinal{
        align-content: center;
        padding-left: 550px;
        }
        
        .ctmFooter{
            margin-left: 30px;
            margin-top: 20px;
            margin-right: 20px;
            padding: 5px;
            padding-left: 5px;
            display: flex; 
            align-items: center; 
        
        }
        
        .imgFooter{
            margin-left: 10px;
            margin-right: 10px; 
            width: 80px;
            
        }
        .foot{
            background: rgb(65, 63, 116);
            background: linear-gradient(90deg, rgb(39, 16, 75) 0%, rgba(64, 31, 107, 0.908) 54%, rgb(60, 33, 110) 100%);
        }*/