.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(13, 20, 36, 0.8);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 100;
}


.menu-button {
    background: none;
    border: solid white ;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px; 
    margin-right: 20px;
    color: #fff;
}

.menu {
    z-index: 100;
    position: fixed; 
    top: 0;
    padding-top: 80px;
    right: -250px;
    width: 250px;
    height: 100%;
    background: rgba(2, 18, 49, 0.8);
    color: #fff;
    transition: 0.9s;
}



.close-button {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
}


.list-group-item{
    background-color: transparent;
}

.list-group-item:hover {
    background-color: rgba(15, 11, 27, 0.945); 
    color: #080808; 
}
.textoL{
    color: #ffffff;
    text-decoration: none;
}


