<div class="bgFooter">
    <div class="ctmFooter">

        <img class="imgFooter" src="images/umg.png" alt="">
        <p>Derechos de reservados: <br> &copy; Antony Alessandro Ralon Valenuzela 2290-20-16986 <br> Universidad Mariano
            Galvez de Guatemala, sede Solola
            <br>
            Correo: <a class="texto1" href="mailto: alessandroralon@gmail.com">alessandroralon@gmail.com</a>

        </p>

    </div>
</div>