<div class="foot">
    <h2 class="tGracias">¡Gracias por visitar mi portafolio!</h2>
    <div class="btnsFinal">
        <div class="btnLink2">
            <a class="texto" href="src/documentos/CVAntonyRalón.pdf" target="_blank">Descargar CV</a>
        </div>
        <div class="btnLink">
            <a class="texto2" href="Contacto">Contactame</a>
        </div>
    </div>
    <div class="ctmFooter">
        <img class="imgFooter" src="images/umg.png" alt="">
        <p>Derechos de reservados: <br> &copy; Antony Alessandro Ralon Valenuzela 2290-20-16986 <br> Universidad Mariano
            Galvez de Guatemala, sede Solola</p>
        <p></p>
    </div>
</div>