
        <header class="navbar">
        <h1>Portafolio de Antony Ralon</h1>
        <button class="menu-button">☰</button>
        </header>
<script src="src/js/header.js"></script>
<link rel="stylesheet" href="css/header.css">