<nav class="menu">
    <button class="close-button">×</button>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="textoL" href="Contacto">Contactame</a></li>
        <li class="list-group-item"><a class="textoL" href="/">Portafolio</a></li>
        <li class="list-group-item"><a class="textoL" href="https://alesral55.github.io/SitioMRU/" target="_blank">github Pages</a></li>
        <li class="list-group-item"> <a class="textoL"
                href="https://www.linkedin.com/in/antony-alessandro-ral%C3%B3n-valenzuela-2b7049245"
                target="_blank">Perfil Linkedin</a></li>
        <li class="list-group-item"><a class="textoL" href="https://webserverraily-production.up.railway.app/">HBS y Railway</a></li>
    </ul>
</nav>