    <nav class="menu">
        <button class="close-button">×</button>
        <ul>
            <li><a class="texto2" href="Contacto">Contactame</a></li>
            <li><a class="texto2" href="/">Portafolio</a></li>
            <li><a class="texto2" href="https://alesral55.github.io/SitioMRU/">github Pages</a></li>
        </ul>
    </nav>