    <nav class="menu">
        <button class="close-button">×</button>
        <ul>
            <li><a href="Contacto">Contactame</a></li>
            <li><a href="/">Portafolio</a></li>
            <li><a href="https://alesral55.github.io/SitioMRU/">github Pages</a></li>
        </ul>
    </nav>